/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap");

body {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  color: $clr-dark-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: $clr-navy;
}
