.container {
  background-color: theme("colors.lightGrey");
  color: theme("colors.navy");
}

.navLink:after {
  display: block;
  content: "";
  border-bottom: solid 3px theme("colors.purple");
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navLink:hover:after {
  transform: scaleX(1);
}
.navLink:hover:after {
  transform-origin: 0% 50%;
}
